#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: $color-meta;
  text-align: center;
  background-color: #18191a;
  padding: 3.5rem 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin-right: 15px;
    border-right: 1px solid;
    border-color: $color-border;
    vertical-align: middle;

    a {
      margin-right: 15px;
    }
  }
  li:last-child {
    margin-right: 0;
    border-right: 0;

    a {
      margin-right: 0;
    }
  }
  a {
    color: $color-meta;
    text-decoration: underline;
    background-image: none;
  }
  a:hover {
    color: lighten($color-meta, 20%);
  }
  .footer-left {
    height: 20px;
    vertical-align: middle;
    line-height: 20px;
  }

  #image {
    display: block;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 2rem 0;
  }

  .link {
    font-size: .8rem;
  }

  .license {
    margin-top: 2rem;
    font-size: .6rem;
  }
}

